<div class="input-group mb-3" *ngIf="prop.type == 'Enum'">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">{{prop.title}}</label>
  </div>
  <select [(ngModel)]="prop.val" class="custom-select" id="inputGroupSelect01">
    <option *ngFor="let e of listEnums(prop)" [value]="e">{{e}}</option>
  </select>
</div>

<div class="input-group mb-3" *ngIf="prop.type == 'Text'">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">{{prop.title}}</label>
  </div>
  <!-- <input [(ngModel)]="prop.val" type="text" class="form-control" placeholder="Username" aria-label="Username"
    aria-describedby="basic-addon1" /> -->



        <input type="text"
              [(ngModel)]="prop.val"
              class="form-control"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>


</div>

<div class="input-group mb-3" *ngIf="prop.type == 'MultipleText'">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">{{prop.title}}</label>
  </div>
  <textarea [(ngModel)]="prop.val" class="form-control" aria-describedby="basic-addon1"></textarea>
</div>


<div class="input-group mb-3" *ngIf="prop.type == 'Label'">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">{{prop.title}}</label>
  </div>
  <label class="input-group-text" for="inputGroupSelect01">{{prop.val}}</label>
</div>


<div class="input-group mb-3" *ngIf="prop.type == 'Number'">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">{{prop.title}}</label>
  </div>
  <input type="number" class="form-control" [(ngModel)]="prop.val" aria-describedby="basic-addon1" />
</div>

<div class="input-group mb-3" *ngIf="prop.type == 'Object'">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">{{prop.title}}</label>
  </div>
  <button (click)="onUnfold(prop.title,prop.val)" class="form-control btn btn-info"
    aria-describedby="basic-addon1">{{'Unfold' | translate}}</button>
</div>


<div class="container-fuild" *ngIf="prop.type == 'List'">

  <div class="input-group">
    <label class="input-group-text form-control" for="inputGroupSelect01">{{prop.title}}</label>
    <div class="input-group-append" id="button-addon4">
      <button class="btn btn-outline-secondary" type="button" (click)="createListItem(prop)">Create</button>
    </div>
  </div>

  <div class=" container-fluid row" *ngFor="let cp of listListProps(prop); let i = index">

    <div class="input-group mb-3">
      <span class="form-control">
        <app-prop-row (messageEvent)="receiveOnUnfoldMessage($event)" [prop]="cp"></app-prop-row>
      </span>
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary" (click)="removeListItem(prop,i)"><i
            class="fas fa-trash-alt"></i></button>
      </div>
    </div>

  </div>

</div>
