<div class="sidebar" data-image="../assets/img/sidebar-5.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text">
        BZK
      </a>
    </div>
    <ul class="nav">
      <li class="nav-item " [class.active]="urlParam.eqPath('/model/design')">
        <a class="nav-link" routerLink="/model/design">
          <i class="far fa-edit"></i>
          <p>Editor</p>
        </a>
      </li>
      <li class="nav-item " [class.active]="urlParam.eqPath('/model/repo')">
        <a class="nav-link" routerLink="/model/repo">
          <i class="fas fa-folder-open"></i>
          <p>Saved Models</p>
        </a>
      </li>
      <li class="nav-item " [class.active]="urlParam.eqPath('/model/registered')">
        <a class="nav-link" routerLink="model/registered">
          <i class="nc-icon nc-notes"></i>
          <p>Registered Flow</p>
        </a>
      </li>
      <li class="nav-item " [class.active]="urlParam.eqPath('/console')">
        <a class="nav-link" routerLink="console">
          <i class="nc-icon nc-paper-2"></i>
          <p>Console</p>
        </a>
      </li>
      <li [class.active]="urlParam.eqPath('/config')">
        <a class="nav-link" routerLink="config">
          <i class="nc-icon nc-settings-gear-64"></i>
          <p>Config</p>
        </a>
      </li>
      <li [class.active]="urlParam.eqPath('/login')">
        <a class="nav-link" routerLink="login">
          <i class="fas fa-sign-in-alt"></i>
          <p>Login</p>
        </a>
      </li>
      <li>
        <a class="nav-link" href="./notifications.html">
          <i class="nc-icon nc-bell-55"></i>
          <p>Notifications</p>
        </a>
      </li>
      <li class="nav-item active active-pro">
        <a class="nav-link active" href="upgrade.html">
          <i class="nc-icon nc-alien-33"></i>
          <p>Upgrade to PRO</p>
        </a>
      </li>
    </ul>
  </div>
</div>
