<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Addons
  </div>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseJobs" aria-expanded="true"
      aria-controls="collapseJobs">
      <i class="fas fa-fw fa-folder"></i>
      <span>Jobs</span>
    </a>
    <div id="collapseJobs" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" [class.active]="urlParam.eqPath('/model/registered')" routerLink="/model/registered">List ALL</a>
        <a class="collapse-item" href="cards.html">New Job</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Charts -->
  <!-- <li class="nav-item" [class.active]="urlParam.eqPath('/model/registered')">
    <a class="nav-link"  routerLink="/model/registered">
      <i class="fas fa-fw fa-folder"></i>
      </a>
  </li> -->

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <i class="fas fa-fw fa-table"></i>
      <span>Tables</span></a>
  </li>



  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Interface
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
      aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>Components</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Components:</h6>
        <a class="collapse-item" href="buttons.html">Buttons</a>
        <a class="collapse-item" href="cards.html">Cards</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true"
      aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Utilities</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Utilities:</h6>
        <a class="collapse-item" href="utilities-color.html">Colors</a>
        <a class="collapse-item" href="utilities-border.html">Borders</a>
        <a class="collapse-item" href="utilities-animation.html">Animations</a>
        <a class="collapse-item" href="utilities-other.html">Other</a>
      </div>
    </div>
  </li>



</ul>
<!-- End of Sidebar -->


<!-- <div class="sidebar" data-image="../assets/img/sidebar-5.jpg">

  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text">
        BZK
      </a>
    </div>
    <ul class="nav">
      <li class="nav-item " [class.active]="urlParam.eqPath('/model/design')">
        <a class="nav-link" routerLink="/model/design">
          <i class="far fa-edit"></i>
          <p>Editor</p>
        </a>
      </li>
      <li class="nav-item " [class.active]="urlParam.eqPath('/model/repo')">
        <a class="nav-link" routerLink="/model/repo">
          <i class="fas fa-folder-open"></i>
          <p>Saved Models</p>
        </a>
      </li>
      <li class="nav-item " [class.active]="urlParam.eqPath('/model/registered')">
        <a class="nav-link" routerLink="model/registered">
          <i class="nc-icon nc-notes"></i>
          <p>Registered Flow</p>
        </a>
      </li>
      <li class="nav-item " [class.active]="urlParam.eqPath('/console')">
        <a class="nav-link" routerLink="console">
          <i class="nc-icon nc-paper-2"></i>
          <p>Console</p>
        </a>
      </li>
      <li [class.active]="urlParam.eqPath('/config')">
        <a class="nav-link" routerLink="config">
          <i class="nc-icon nc-settings-gear-64"></i>
          <p>Config</p>
        </a>
      </li>
      <li [class.active]="urlParam.eqPath('/login')">
        <a class="nav-link" routerLink="login">
          <i class="fas fa-sign-in-alt"></i>
          <p>Login</p>
        </a>
      </li>
      <li>
        <a class="nav-link" href="./notifications.html">
          <i class="nc-icon nc-bell-55"></i>
          <p>Notifications</p>
        </a>
      </li>
      <li class="nav-item active active-pro">
        <a class="nav-link active" href="upgrade.html">
          <i class="nc-icon nc-alien-33"></i>
          <p>Upgrade to PRO</p>
        </a>
      </li>
    </ul>
  </div>
</div> -->
