<div class="input-group mb-3" >
  <div class="input-group-prepend"  >
    <label class="input-group-text" for="inputGroupSelect01"> Entry Type </label>
  </div>
  <select (change)="onEntryTypeChange($event.target.value)" class="custom-select" [(ngModel)]="flow.entry.clazz" >
    <option *ngFor="let t of entryTypes" >{{t.clazz}}</option>
  </select>
</div>




<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Var Map
    </mat-panel-title>
    <mat-panel-description>
      Flow Default Var
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-json-editor [data]="this"></app-json-editor>
</mat-expansion-panel>
