<div class="mt-2 mb-2">
  <div class="btn-group pb-2" role="group" aria-label="Basic example">
    <button type="button" (click)="changeHeaderType(HeaderSetType.headersFlat)"
     [ngClass]="{'btn-primary': curHeaderType===HeaderSetType.headersFlat, 'btn-secondary': curHeaderType!==HeaderSetType.headersFlat}" class="btn ">Header List</button>
    <button type="button" (click)="changeHeaderType(HeaderSetType.headRef)"
     [ngClass]="{'btn-primary': curHeaderType===HeaderSetType.headRef, 'btn-secondary': curHeaderType!==HeaderSetType.headRef}" class="btn ">Header Ref</button>
  </div>

  <app-prop-row   [prop]="headerProp">  </app-prop-row>

</div>

<div class="mt-2 mb-2">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="fas fa-vial mr-1"></i> Test Me
        </mat-panel-title>

      </mat-expansion-panel-header>
      <div class="container-fluid alert alert-primary">
        <mat-form-field appearance="fill" class=" m-2">
          <mat-label>Flow Vars</mat-label>
          <mat-select [(value)]="flowVarKey">
            <mat-option *ngFor="let k of listVarKeys()" [value]="k">
              {{k}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class=" m-2">
          <mat-label>Box Vars</mat-label>
          <mat-select [(value)]="boxVarKey">
            <mat-option *ngFor="let k of listVarKeys()" [value]="k">
              {{k}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="btn-group pb-2" role="group" aria-label="Basic example">
          <button type="button" (click)="onInternalVars()" class="btn btn-secondary"><i
              class="mr-2 fas fa-spell-check"></i>Var</button>
          <button type="button" (click)="testMe()" class="btn btn-secondary"><i class="mr-2 fas fa-play"></i>Run</button>
          <button type="button" class="btn btn-secondary"><i class="mr-2 fas fa-glasses"></i>Console</button>
        </div>

      </div>
    </mat-expansion-panel>

  </mat-accordion>


</div>

<app-task-func-view [task]="action"></app-task-func-view>
