<div class="content">

  <div class="spinner-grow text-primary" *ngIf="!list" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <mat-accordion *ngIf="list">
    <mat-expansion-panel hideToggle *ngFor="let rf of list">
      <mat-expansion-panel-header>
        <mat-panel-title>
          This is the expansion title
        </mat-panel-title>
        <mat-panel-description>
          This is a summary of the content
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>



  </mat-accordion>

  <div *ngIf="list && list.length<=0 " class="alert alert-primary" role="alert">
    No Result!!
  </div>
</div>
