<nav class="navbar navbar-expand-lg  fixed-navbar " color-on-scroll="500">
  <div class="container-fluid">
    <a class="navbar-brand" href="#pablo"> Dashboard </a>

    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="dropdown">
            <i class="nc-icon nc-palette"></i>
            <span class="d-lg-none">Dashboard</span>
          </a>
        </li>
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <i class="nc-icon nc-planet"></i>
            <span class="d-lg-none">Cloud Backup</span>
          </a>
          <ul class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void(0)" (click)="openImportGistDialog()" >Import Github Gist</a>
            <a class="dropdown-item" href="#">Notification 2</a>
            <a class="dropdown-item" href="#">Notification 3</a>
            <a class="dropdown-item" href="#">Notification 4</a>
            <a class="dropdown-item" href="#">Another notification</a>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div class="content">





  <mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let rf of savedFlows">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="col-2 alert alert-secondary">{{rf.model.name}}</span>
          <span class="col-2 alert alert-secondary">{{rf.uid}}</span>
          <span class="col-5 alert alert-info">
            <span class="badge badge-primary">{{ getStateCount(rf,FlowState.Running) }}</span>
            /
            <span class="badge badge-danger">{{ getStateCount(rf,FlowState.Fail) }}</span>
            /
            <span class="badge badge-success">{{ getStateCount(rf,FlowState.Done) }}</span>
            /
            <span class="badge badge-secondary">{{ getStateCount(rf,FlowState.Pedding) }}</span>
            /
            <span class="badge badge-light">{{ getAllRunCount(rf) }}</span>
          </span>
          <!-- <span class="col-1 alert alert-info">
            Fail
            <span class="badge badge-light">{{ getStateCount(rf,FlowState.Fail) }}</span>
          </span>
          <span class="col-1 alert alert-info">
            Done
            <span class="badge badge-light">{{ getStateCount(rf,FlowState.Done) }}</span>
          </span>
          <span class="col-1 alert alert-info">
            Pedding
            <span class="badge badge-light">{{ getStateCount(rf,FlowState.Pedding) }}</span>
          </span>
          <span class="col-1 alert alert-info">
            ALL
            <span class="badge badge-light">{{ getAllRunCount(rf) }}</span>
          </span> -->
          <span class="col-3 alert alert-success">Action</span>
        </mat-panel-title>

      </mat-expansion-panel-header>
      <app-flow-pool-info  *ngIf="getPoolInfo(rf)"  [row]="getPoolInfo(rf)"></app-flow-pool-info>
      <button type="button" class="btn btn-warning" (click)="forceRemovePool(rf.uid)"><i
          class="fas fa-trash-alt"></i></button>
    </mat-expansion-panel>
  </mat-accordion>


  <div *ngIf="savedFlows && savedFlows.length<=0 " class="alert alert-primary" role="alert">
    No Result!!
  </div>
</div>
