<div class="content">

  <div class="spinner-grow text-primary" *ngIf="!list" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <mat-accordion *ngIf="list">
    <mat-expansion-panel hideToggle *ngFor="let rf of list">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{rf.flow.name}}
        </mat-panel-title>
        <mat-panel-description>
          {{rf.flow.uid}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-flow-pool-info [row]="rf" ></app-flow-pool-info>
      <button type="button" class="btn btn-warning" (click)="forceRemovePool(rf.flow.uid)" ><i class="fas fa-trash-alt"></i></button>
    </mat-expansion-panel>



  </mat-accordion>

  <div *ngIf="list && list.length<=0 " class="alert alert-primary" role="alert">
    No Result!!
  </div>
</div>
