<nav class="navbar navbar-expand-lg  fixed-navbar " color-on-scroll="500">
  <div class="container-fluid">

    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="nav navbar-nav mr-auto">

        <li class="dropdown nav-item">
          <a href="javascript:void(0)" (click)="stopRead()" class=" nav-link">
            <i class="fas fa-stop-circle"></i>
            <span class="d-lg-none"></span>
            <span>Stop</span>
          </a>

        </li>

        <li class="dropdown nav-item">
          <a href="javascript:void(0)" (click)="startRead()" class=" nav-link">
            <i class="fas fa-play-circle"></i>
            <span class="d-lg-none"></span>
            <span>Start</span>
          </a>

        </li>

        <li class="dropdown nav-item">
          <a href="javascript:void(0)" (click)="clear()" class=" nav-link">
            <i class="fas fa-eraser"></i>
            <span class="d-lg-none"></span>
            <span>Clear</span>
          </a>
        </li>
        <li class="dropdown nav-item">
          <a href="javascript:void(0)" (click)="delTrailFile()" class=" nav-link">
            <i class="far fa-trash-alt"></i>
            <span class="d-lg-none"></span>
            <span>Delete Log</span>
          </a>
        </li>
        <li class="dropdown nav-item">
          <a href="javascript:void(0)" class=" nav-link ">
            <mat-slide-toggle class="pt-2" [(ngModel)]="allLoged">{{ allLoged ? 'ALL' : 'Run' }} Log</mat-slide-toggle>
          </a>
        </li>

      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="dropdown nav-item">
          <a href="javascript:void(0)" (click)="refleshReading()" class=" nav-link">
            <i class="fas fa-glasses"></i>
            <span class="d-lg-none"></span>
            <span>{{keepReading}}</span>
          </a>

        </li>

      </ul>

    </div>
  </div>
</nav>
<div class="content">
  <div class="listline" #listlineDom>
    <mat-accordion>
      <mat-expansion-panel hideToggle *ngFor="let line of listResult()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p *ngIf="line.type === LineType.Text"> {{ line.orgText | slice:0:225 }} </p>
            <div *ngIf="line.type === LineType.BoxLog || line.type === LineType.ActionLog">
              <span [ngClass]="toBoxRunLogRow(line).getHeadClass()" class="btn btn-primary mr-2">{{ toBoxRunLogRow(line).log.boxName }}<span
                  class="badge badge-secondary"  >BOX</span></span>
              <span class="btn btn-info mr-2">{{ toBoxRunLogRow(line).log.state }}<span
                  class="badge badge-secondary">STATE</span></span>
              <span *ngIf=" line.type === LineType.ActionLog"
                class="btn btn-light mr-2">{{ toActionRunLogRow(line).log.msg }}<span
                  class="badge badge-secondary">Message</span></span>
            </div>

          </mat-panel-title>

        </mat-expansion-panel-header>
        <textarea *ngIf="line.type === LineType.Text" class="container-fluid alert alert-primary"
          (click)="$event.target.select()">
          {{line.orgText  }}
        </textarea>

        <app-box-run-log *ngIf="line.type === LineType.BoxLog "
          [data]="toBoxRunLogRow(line).log">
        </app-box-run-log>

        <app-box-run-log *ngIf=" line.type === LineType.ActionLog"
        [data]="toActionRunLogRow(line).log">
      </app-box-run-log>

      </mat-expansion-panel>

    </mat-accordion>
  </div>

</div>
