<nav class="navbar navbar-expand-lg  fixed-navbar " color-on-scroll="500">
  <div class="container-fluid">

    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="nav navbar-nav mr-auto">

        <li class="dropdown nav-item">
          <a href="javascript:void(0)" (click)="stopRead()" class=" nav-link">
            <i class="fas fa-stop-circle"></i>
            <span class="d-lg-none"></span>
            <span>Stop</span>
          </a>

        </li>

        <li class="dropdown nav-item">
          <a href="javascript:void(0)" (click)="startRead()" class=" nav-link">
            <i class="fas fa-play-circle"></i>
            <span class="d-lg-none"></span>
            <span>Start</span>
          </a>

        </li>

        <li class="dropdown nav-item">
          <a href="javascript:void(0)" (click)="clear()" class=" nav-link">
            <i class="fas fa-eraser"></i>
            <span class="d-lg-none"></span>
            <span>Clear</span>
          </a>
        </li>
        <li class="dropdown nav-item">
          <a href="javascript:void(0)" (click)="delTrailFile()" class=" nav-link">
            <i class="far fa-trash-alt"></i>
            <span class="d-lg-none"></span>
            <span>Delete Log</span>
          </a>
        </li>

        <li class="dropdown nav-item">
          <div class=" nav-link">
            <i class="far fa-trash-alt"></i>
            <span class="d-lg-none"></span>
            <span> {{decryptKey}} </span>
          </div>
        </li>

      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="dropdown nav-item">
          <a href="javascript:void(0)" (click)="refleshReading()" class=" nav-link">
            <i class="fas fa-glasses"></i>
            <span class="d-lg-none"></span>
            <span>{{keepReading}}</span>
          </a>

        </li>

      </ul>

    </div>
  </div>
</nav>
<div class="content">
  <div class="listline" #listlineDom>
    <mat-accordion>
      <mat-expansion-panel hideToggle *ngFor="let line of listResult()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p *ngIf="line.type === LineType.Text"> {{ line.orgText | slice:0:225 }} </p>


          </mat-panel-title>

        </mat-expansion-panel-header>
        <textarea *ngIf="line.type === LineType.Text" class="container-fluid alert alert-primary"
          (click)="$event.target.select()">
          {{line.orgText  }}
        </textarea>



      </mat-expansion-panel>

    </mat-accordion>
  </div>

</div>
