<div class="card container-fuild m-4">
  <div class="card-body">
    <div class="alert alert-success">
      <div class="form-group">
        <label for="exampleInputPassword1">Gist</label>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Gist encryption pass</label>
        <input type="password" [(ngModel)]="gistPass" class="form-control">
        <small id="emailHelp" class="form-text text-muted"> Gist encryption key password for your content </small>
      </div>
      <div class="form-group form-check">
        <mat-slide-toggle [(ngModel)]="gistPassSaved">Remember Me</mat-slide-toggle>
      </div>
      <button (click)="saveGistPass()" class="btn btn-primary">Save</button>
    </div>
  </div>
</div>
