<nav class="navbar navbar-expand-lg  fixed-navbar " color-on-scroll="500">
  <div class="container-fluid">
    <a class="navbar-brand" href="#pablo"> Dashboard </a>

    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="dropdown">
            <span class="d-lg-none">Dashboard</span>
          </a>
        </li>
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <i class="nc-icon nc-planet"></i>
            <span class="d-lg-none">Cloud Backup</span>
          </a>
          <ul class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void(0)" (click)="openImportGistDialog()" >Import Github Gist</a>
            <a class="dropdown-item" href="javascript:void(0)" (click)="uploadAllGistDialog()" >Upload All Github Gist</a>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
<!--
<div class="content">

  <mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let rf of savedFlows">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="col-2 alert alert-secondary">{{rf.model.name}}</span>
          <span class="col-2 alert alert-secondary">{{rf.uid}}</span>
          <span class="col-5 alert alert-info">
            <span class="badge badge-primary">{{ getStateCount(rf,FlowState.Running) }}</span>
            /
            <span class="badge badge-danger">{{ getStateCount(rf,FlowState.Fail) }}</span>
            /
            <span class="badge badge-success">{{ getStateCount(rf,FlowState.Done) }}</span>
            /
            <span class="badge badge-secondary">{{ getStateCount(rf,FlowState.Pedding) }}</span>
            /
            <span class="badge badge-light">{{ getAllRunCount(rf) }}</span>
          </span>
          <span class="col-3 alert alert-success">
            <button type="button" class="badge badge-primary button" (click)="onFileEdit(rf)"><i class="fas fa-edit"></i></button>
          </span>
        </mat-panel-title>

      </mat-expansion-panel-header>
      <app-flow-pool-info  *ngIf="getPoolInfo(rf)"  [row]="getPoolInfo(rf)"></app-flow-pool-info>
      <button type="button" class="btn btn-warning" (click)="forceRemovePool(rf.uid)"><i
          class="fas fa-trash-alt"></i></button>
    </mat-expansion-panel>
  </mat-accordion>


  <div *ngIf="savedFlows && savedFlows.length<=0 " class="alert alert-primary" role="alert">
    No Result!!
  </div>
</div> -->



<div>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
          id
      </th>
      <td mat-cell *matCellDef="let row"> <a [routerLink]="['/',{ outlets: {primary:['job',row.id] , sidebar: ['job'] } }]" > {{row.id}} </a> </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
      <td mat-cell *matCellDef="let row"> <a [routerLink]="['/job',row.id]" >{{row.name}}</a>  </td>
    </ng-container>

    <ng-container matColumnDef="lastState">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> lastState </th>
      <td mat-cell *matCellDef="let row"> {{row.lastState}} </td>
    </ng-container>

    <ng-container matColumnDef="lastTriggerAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> lastTriggerAt </th>
      <td mat-cell *matCellDef="let row" > {{row.lastTriggerAt}} </td>
    </ng-container>

    <ng-container matColumnDef="triggerInfo">
      <th mat-header-cell *matHeaderCellDef > triggerInfo </th>
      <td mat-cell *matCellDef="let row" >
        <span class="col-5 alert alert-info">
          <span class="badge badge-primary">{{ getStateCount( getSavedFlow(row.id) ,FlowState.Running) }}</span>
          /
          <span class="badge badge-danger">{{ getStateCount(getSavedFlow(row.id),FlowState.Fail) }}</span>
          /
          <span class="badge badge-success">{{ getStateCount(getSavedFlow(row.id),FlowState.Done) }}</span>
          /
          <span class="badge badge-secondary">{{ getStateCount(getSavedFlow(row.id),FlowState.Pedding) }}</span>
          /
          <span class="badge badge-light">{{ getAllRunCount(getSavedFlow(row.id)) }}</span>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef > actions </th>
      <td mat-cell *matCellDef="let row" >
        <span class="col-3 alert alert-success">
          <button type="button" class="badge badge-primary button" (click)="onFileEdit(row.id)"><i class="fas fa-edit"></i></button>
          <button type="button" class="badge badge-primary button" (click)="onFileEdit(row.id)"><i class="fas fa-terminal"></i></button>
        </span>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
