<nav class="navbar navbar-expand-lg  fixed-navbar " color-on-scroll="500">
  <div class="container-fluid">

    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="nav navbar-nav mr-auto">

        <li class="dropdown nav-item">
          <a href="javascript:void(0)" (click)="reflesh()" class=" nav-link">
            <i class="fas fa-sync"></i>
            <span class="d-lg-none"></span>
            <span>Reflesh</span>
          </a>

        </li>

        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <i class="fas fa-play"></i>
            <span class="d-lg-none"></span>
            <span>{{runState ? runState : 'Choose' }}</span>
          </a>
          <ul class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void(0)" (click)="setRunState(rs)"
              *ngFor="let rs of listRunState()">{{ rs ? rs : 'all' }}</a>

          </ul>
        </li>


      </ul>


    </div>



    <a target="_blank"
      [routerLink]="['/',{ outlets: {primary:['job',originRunLog.flowUid,'log',originRunLog.runFlowUid] , sidebar: null } }]"
      type="button" class="btn alert btn-success" *ngIf="originRunLog"> <i class="fas fa-chevron-circle-up"></i></a>

    <a target="_blank" [routerLink]="['/',{ outlets: {primary:['job',jobUid] , sidebar: ['job',jobUid] } }]" type="button"
      class="btn alert btn-success"> <i class="far fa-arrow-alt-circle-left"></i></a>
    <div class="alert alert-primary" role="alert" *ngIf="job">
      {{job.model.name}}
    </div>
  </div>
</nav>


<ng-container [ngTemplateOutlet]="pagination"></ng-container>

<div class="content list-dev">
  <div class="listline" #listlineDom>
    <mat-accordion>
      <mat-expansion-panel hideToggle *ngFor="let line of listLogs()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div>
              <span class="btn-danger" class="btn btn-primary mr-2">{{ line.boxName }}<span
                  class="badge badge-secondary">BOX</span></span>
              <span class="btn btn-info mr-2">{{ line.state }}<span
                  class="badge badge-secondary">{{line.actionName}}</span></span>
              <a target="_blank" *ngIf=" !StringUtils.isBlank( line.refRunFlowUid)"
                [routerLink]="['/',{ outlets: {primary:['job',line.refFlowUid,'log',line.refRunFlowUid] , sidebar: null } }]">{{
                line.refRunFlowUid }}</a>
              <span *ngIf=" !StringUtils.isBlank( line.msg)" class="btn btn-light mr-2">{{ line.msg | slice:0:120
                }}</span>
            </div>

          </mat-panel-title>

        </mat-expansion-panel-header>

        <app-log-row [log]="line">
        </app-log-row>



      </mat-expansion-panel>

    </mat-accordion>
  </div>

</div>

<ng-container [ngTemplateOutlet]="pagination"></ng-container>

<ng-template #pagination>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <div class="dropdown ">
          <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{size}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button (click)="onSizeChange(10)" class="dropdown-item" type="button">10</button>
            <button (click)="onSizeChange(25)" class="dropdown-item" type="button">25</button>
            <button (click)="onSizeChange(50)" class="dropdown-item" type="button">50</button>
            <button (click)="onSizeChange(100)" class="dropdown-item" type="button">100</button>
            <button (click)="onSizeChange(200)" class="dropdown-item" type="button">200</button>
          </div>
        </div>
      </li>
      <li class="page-item" [class.active]="p === page" *ngFor="let p of pages"><button (click)="onPageChange(p)"
          class="page-link" href="#">{{(p+1)}}</button></li>






    </ul>
  </nav>
</ng-template>
