<nav class="navbar navbar-expand-lg  fixed-navbar " color-on-scroll="500">
  <div class="container-fluid">

    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="nav navbar-nav mr-auto">

        <li class="dropdown nav-item">
          <a href="javascript:void(0)" (click)="reflesh()" class=" nav-link">
            <i class="fas fa-sync"></i>
            <span class="d-lg-none"></span>
            <span>Reflesh</span>
          </a>

        </li>


      </ul>


    </div>
  </div>
</nav>
<div class="content ">
  <div class="listline" #listlineDom>
    <mat-accordion>
      <mat-expansion-panel hideToggle *ngFor="let line of list">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div >
              <span class="btn-danger"
                class="btn btn-primary mr-2">{{ line.boxName }}<span
                  class="badge badge-secondary">BOX</span></span>
              <span class="btn btn-info mr-2">{{ line.state }}<span
                  class="badge badge-secondary">STATE</span></span>
              <span *ngIf=" !StringUtils.isBlank( line.msg)"
                class="btn btn-light mr-2">{{  line.msg | slice:0:120 }}<span
                  class="badge badge-secondary">Message</span></span>
            </div>

          </mat-panel-title>

        </mat-expansion-panel-header>

        <app-log-row  [log]="line">
        </app-log-row>



      </mat-expansion-panel>

    </mat-accordion>
  </div>

</div>
