


  <!-- <ul class="list-group">
    <li class="list-group-item" *ngFor="let c of conditionSGs">
      <app-condition [conditionSG]="c"></app-condition>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Join</label>
        </div>
        <select class="custom-select" (change)="onChangeConKind(c,$event.target.value)" [ngModel]="c.getCondition().kind" >
          <option *ngFor="let k of listConKinds()" [value]="k">{{k}}</option>
        </select>
      </div>
    </li>



  </ul> -->


