<div class="btn-group" role="group" *ngIf="prop.info.refInfo">
  <button type="button" class="btn btn-secondary"
    [ngClass]="{'btn-primary': prop.refVal.isType(RefSetType.ByRef), 'btn-secondary': !prop.refVal.isType(RefSetType.ByRef)}"
    (click)="prop.refVal.setType(RefSetType.ByRef) ">ByRef</button>
  <button type="button" class="btn btn-secondary"
    [ngClass]="{'btn-primary': prop.refVal.isType(RefSetType.ByVal), 'btn-secondary': !prop.refVal.isType(RefSetType.ByVal)}"
    (click)="prop.refVal.setType(RefSetType.ByVal)">ByVal</button>
</div>
<div class="input-group mb-3" *ngIf=" prop.info.refInfo && prop.refVal.getType() === RefSetType.ByRef">
  <div class="input-group-prepend" *ngIf="prop.title">
    <label class="input-group-text" for="inputGroupSelect01">{{prop.title}}</label>
  </div>


  <app-ref-text class="form-control" [text]="this"></app-ref-text>

</div>

<app-prop-row></app-prop-row>
